ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
* {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #4bcaff;
}
.logo span {
  color: #000000;
}
.site-header {
  padding-top: 63px;
}
.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.header-nav {
  display: flex;
}
.header-menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 69px;
  background: #35444f;
  margin-top: 40px;
}
.header-menu-item {
  display: flex;
  border-left: 1px solid #ffffff;
}
.header-menu-item:last-child {
  border-right: 1px solid #ffffff;
}
.header-menu-item:hover {
  background: #222f3a;
}
.header-menu-link {
  padding: 23px 32px 18px 38px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.section {
  width: 885px;
}
.img-container {
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid rgba(0, 0, 0, 1);
}
.main-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.section-text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin: 0;
  margin-bottom: 13px;
}
.main-nav {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 344px;
  height: 100%;
}
.main-menu {
  background: rgba(0, 0, 0, 0.0001);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main-menu-item {
  width: 100%;
  height: 81px;
  transition: 0.5s;
  cursor: pointer;
}
.main-menu-item:hover {
  background: #dbdbdb;
  padding-left: 30px;
}
.main-menu-link:hover {
  color: #35444f;
}
.main-menu-link {
  padding-top: 26px;
  padding-left: 44px;
  font-size: 27px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #485863;
  transition: 0.5s;
}

.site-footer {
  margin-top: 41px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(99, 105, 110, 0.48);
  padding: 20px 40px 21px;
}
.footer-menu {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  height: 69px;
  margin-top: 40px;
}
.footer-menu-item {
  position: relative;
}
.footer-menu-link {
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
  transition: 0.5s;
  margin-right: 40px;
}
.footer-menu-link:hover {
  color: #3181a6;
}
.footer-text {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
.footer-menu-link-activ:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #3181a6;
  position: absolute;
  margin-top: 13px;
  border-radius: 1px;
}
